<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %></title>

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/article.css">
    <link rel="stylesheet" href="../styles/solo-article.css">
</head>
<body>
    <header>
        <h1><a href="/">ADdo</a></h1>
    </header>

    <main>
        <% if(data.banner){ %>
            <div id="t-banner" style="background-image: url(<%- data.banner %>)"></div>
        <% } %>

        <% if(data.banner) { %>
        <div class="bmask" style="margin-top:600px; background-color:white;">
        <% } else { %>
        <div class="bmask" style="margin-top:0px; background-color:transparent;">
        <% }  %>
            <div id="content">
                <article>
                    <section class="content-padding">
                    <h1><%= data.title %></h1>
                    <h2 class="time-text"><%= data.createDate.formated %></h2>

                    <div class="tags">
                        <% if(data.tags) data.tags.forEach(tag => { %>
                            <a href="<%-'/tags/' + tag %>"><%= tag %></a>
                        <% }); %>
                    </div>

                    <section>
                        <p class="sdescription"><%= data.description %></p>
                        <div>
                            <%- data.HTMLcontent %>
                        </div>
                    </section>

                    <% if(data.createDate.formated != data.updateDate.formated){ %>
                        <h2 class="time-text">Editado: <%= data.updateDate.formated %></h2>
                    <% } %>
                    </section>
                </article>
            </div>
        </div>
    </main>

    <footer>
        <h4>
            Copyright © 
            <script>document.write(new Date().getFullYear())</script>
            Addo. All Rights Reserverd
        </h4>
    </footer>
</body>
</html>