<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addo</title>

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/article.css">
</head>
<body>
    <header>
        <h1><a href="/">ADdo</a></h1>
    </header>

    <main>
        <div id="content">
            <h2><%= tagFilter %></h2>

            <% articles.forEach(function(article) { %>
            <article>
                <% if(article.banner){ %>
                    <div class="img" style="background-image: url(<%- article.banner %>)"></div>
                <% } %>
                <section class="content-padding">
                    <h1><%= article.title %></h1>
                    <h2 class="time-text"><%= article.createDate.formated %></h2>

                    <div class="tags">
                        <% if(article.tags) article.tags.forEach(tag => { %>
                            <a href="<%-'/tags/' + tag %>"><%= tag %></a>
                        <% }); %>
                    </div>
                
                    <p class="desc"><%= article.description %></p>

                    <a class="read-btn" href="<%-'/artigos/' + article.slug%>">CONTINUE LENDO</a>
                </section>
            </article>
            <% }); %>
        </div>
    </main>

    <footer>
        <h4>
            Copyright © 
            <script>document.write(new Date().getFullYear())</script>
            Addo. All Rights Reserverd
        </h4>
    </footer>
</body>
</html>